#map {
  position: absolute;
  float: right;
  top: 220px;
  right: 220px;
}

#barra {
  position: absolute;
  top: -0px;
  right: 0px;
  background-color: rgba(1, 184, 10, 0.952);
  width: 100%;
  height: 40px;
}
#barraop {
  position: absolute;
  top: -15px;
  font-size: x-large;
  right: 200px;
}
a{
color: black;
}
#form {
  position: absolute;
  top: 30px;
  right: 700px;
}
#redes {
  position: absolute;
  top: 600px;
  right: 0px;
  background-color: rgba(1, 184, 10, 0.952);
  width: 100%;
  height: 100px;
  padding: 2.8125rem 0;
  margin: 147px auto;
}
#redesop {
  position: absolute;
  top: 16px;
  right: 45%;
}
#logo {
  width: 35px;
  height: 33px;
}
#textarea {
  width: 335px;
  height: 102px;
}
/*tansicion*/
#miElemento {
  transition: opacity 1s ease-in-out;
}

.slide {
  transition: transform 0.5s ease-out;
}
/*animacion de rotacion*/
.rotacion{
  position: absolute;
  top: 100px;
}
@keyframes example {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
/* Aplica la animación al elemento */
.rotacionT {
  width: 100px;
  height: 100px;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

/*animacion de agrandamiento de imagen*/
.agrandamiento {
  width: 200px;
  height: 200px;
  transition: all 0.5s ease-in-out;
}

img:hover {
  width: 300px;
  height: 300px;
}

.tamañoimg{
  width: 100px;
  height: 100px;
}
